/* 
.main-content{
    overflow: scroll;
} */

.profile-bar{
    width: 250px;
    height:550px;
    padding: 25px;
    margin: 20px;
    background-color: palegreen;
    border:1px solid gray;
    box-shadow: 5px 5px 10px orangered;
    border-radius: 10px;
    float: left;
    
    
    
}

.img-container img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.contact-me{
    width: 150px;
    height: 35px;
    border-radius: 7px;
    background-color: tomato;
    cursor: pointer;

}
.contact-me:hover{
    background-color: seagreen;
    color:white;
}